# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
smriprep.egg-info/**/*
smriprep.egg-info
.eggs/**/*
.eggs
pip-wheel-metadata/**/*
pip-wheel-metadata

# housekeeping tools
get_version.py
update_changes.sh
tox.ini

# pip installs
src/**/*
src/

# git
.gitignore
.git/**/*
.git

# other
work/**/*
work
out/**/*
out/

# CI, etc.
.circleci
.circleci/**/*
.zenodo.json
.travis.yml
.readthedocs.yml
CONTRIBUTING.md
