repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.gitignore|.*\.gii$'
      - id: end-of-file-fixer
        exclude: 'data/itkIdentityTransform.txt|\.svg$'
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.18.0
    hooks:
      - id: zizmor
