repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '.gitignore|.*\.gii$'
      - id: end-of-file-fixer
        exclude: 'data/itkIdentityTransform.txt|\.svg$'
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.1
    hooks:
      - id: ruff
      - id: ruff-format
