repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '.gitignore|.*\.gii$'
      - id: end-of-file-fixer
        exclude: 'data/itkIdentityTransform.txt|\.svg$'
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  # - repo: https://github.com/psf/black
  #   rev: 23.1.0
  #   hooks:
  #     - id: black
  #       files: ^smriprep/|^wrapper/
  # - repo: https://github.com/pycqa/isort
  #   rev: 5.12.0
  #   hooks:
  #     - id: isort
  #       files: ^smriprep/|^wrapper/
