git+https://github.com/AleksandarPetrov/napoleon.git@0dc3f28a309ad602be5f44a9049785a1026451b3#egg=sphinxcontrib-napoleon
git+https://github.com/rwblair/sphinxcontrib-versioning.git@39b40b0b84bf872fc398feff05344051bbce0f63#egg=sphinxcontrib-versioning
nbsphinx
nipype >= 1.5.1
niworkflows >= 1.3.0rc2, <1.4
packaging
pydot >= 1.2.3
pydotplus
sphinx-argparse
sphinx >= 2.1.2, < 3
sphinx_rtd_theme
sphinxcontrib-apidoc ~= 0.3.0
templateflow
