git+https://github.com/AleksandarPetrov/napoleon.git@0dc3f28a309ad602be5f44a9049785a1026451b3#egg=sphinxcontrib-napoleon
git+https://github.com/effigies/sphinxcontrib-versioning.git@master
nbsphinx
nipype >= 1.5.1
niworkflows >= 1.8.0
packaging
pydot
sphinx-argparse
sphinx
sphinx_rtd_theme
sphinxcontrib-apidoc ~= 0.3.0
templateflow
networkx != 2.8.1
acres
